.ui.maingrid {
    height: 100%;
}

.ui.header {
    text-align: center;
}

div.column {
    margin-right: 10px;
    margin-left: 10px;
}

table.table tbody .scenario-row {
    cursor: pointer;
}

button.ui.btn_new_scenario {
    margin-top: 5px;
    width: 100%;
}