.ui.maingrid {
    height: 100%;
}

.ui.header {
    text-align: center;
}

.ui.header.component a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    position: relative;
    top: -3px;
}

div.column {
    margin-right: 10px;
    margin-left: 10px;
}

button.ui.btn_login {
    margin-top: 5px;
    width: 100%;
}

.ui.fluid.input {
    margin-top: 5px;
}

a.ui.btn_register {
    display: block;
    width: 100%;
}
