<div class="component-container">
    <h3 class="ui header component">
        <i class="icon {{__COLOR__}}">{{__ID__}}</i>
        <div class="content ">
            <span class="text {{__COLOR__}}">{{__NAME__}}</span>
            <div class="sub header">Importance: {{__IMPORTANCE__}}</div>
        </div>
    </h3>

    <table class="ui {{__COLOR__}} striped very compact table indicator">
        <thead>
        <tr>
            <th>Index</th>
            <th>Indicator</th>
            <th>Measure</th>
            <th class="center" data-content="Importance factor" data-position="top center">I</th>
            <th class="center" data-content="Nature, can be static (S) or dynamic (D)" data-position="top center">Nat</th>
            <th class="center" data-content="Initial serviceability" data-position="top center">q<sub>0u</sub></th>
            <th class="center" data-content="Standard value" data-position="top center">SV</th>
            <th class="center" data-content="Initial normalized serviceability" data-position="top center">q<sub>0</sub></th>
            <th class="center" data-content="Post disaster serviceability" data-position="top center">q<sub>1</sub></th>
            <th class="center" data-content="Recovered serviceability" data-position="top center">q<sub>r</sub></th>
            <th class="center" data-content="Restoration time" data-position="top center">T<sub>r</sub></th>
        </tr>
        </thead>
        <tbody>

            {{__INDICATORS_CONTENT__}}

        </tbody>
    </table>
</div>