<div class="ui grid maingrid dim-{{__DIM_ID__}}" style="display: none;">
    <div class="maincontent">

        {{__COMPONENTS_CONTENT__}}

        <div class="ui divider"></div>
        <h2 class="ui header component">
            <i class="area chart icon"></i>
            <div class="content ">
                <span class="text black">{{__CHART_NAME__}}</span>

            </div>
        </h2>
        <div class="plot">
            <div class="grafico">
                <canvas id="chart_{{__DIM_ID__}}"></canvas>
            </div>
            <div class="messaggi">
            </div>
        </div>


    </div>
</div>