<tr id="ind_{{__ID_FOR_HTML__}}">
    <td>{{__ID__}}</td>
    <td>{{__NAME__}}</td>
    <td>{{__MEASURE__}}</td>
    <td>{{__IMPORTANCE__}}</td>
    <td>{{__NAT__}}</td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="q0u" name="q0u_{{__ID_FOR_HTML__}}">
        </div>
    </td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="SV" name="SV_{{__ID_FOR_HTML__}}">
        </div>
    </td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="q0" name="q0_{{__ID_FOR_HTML__}}">
        </div>
    </td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="q1" name="q1_{{__ID_FOR_HTML__}}">
        </div>
    </td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="qr" name="qr_{{__ID_FOR_HTML__}}">
        </div>
    </td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="Tr" name="Tr_{{__ID_FOR_HTML__}}">
        </div>
    </td>
</tr>