<tr id="ind_{{__ID_FOR_HTML__}}">
    <td>{{__ID__}}</td>
    <td>{{__NAME__}}</td>
    <td>{{__MEASURE__}}</td>
    <td>{{__IMPORTANCE__}}</td>
    <td>{{__NAT__}}</td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="q0u" autocomplete="off" id="{{__DIM_ID__}}{{__COM_ID__}}{{__IND_ID__}}q0u" name="q0u"
                   data-dim="{{__DIM_ID__}}" data-com="{{__COM_ID__}}" data-ind="{{__IND_ID__}}">
        </div>
    </td>
    <td>
        <div class="ui fluid input number">
            <input type="text" placeholder="SV" autocomplete="off"  id="{{__DIM_ID__}}{{__COM_ID__}}{{__IND_ID__}}sv" name="sv"
                   data-dim="{{__DIM_ID__}}" data-com="{{__COM_ID__}}" data-ind="{{__IND_ID__}}">
        </div>
    </td>
    <td>
        <div class="ui fluid transparent input number">
            <input type="text" placeholder="q0" autocomplete="off"  id="{{__DIM_ID__}}{{__COM_ID__}}{{__IND_ID__}}q0" name="q0"
                   data-dim="{{__DIM_ID__}}" data-com="{{__COM_ID__}}" data-ind="{{__IND_ID__}}" disabled>
        </div>
    </td>
    <td class="center">
        -
        <input type="text" placeholder="q1" autocomplete="off"  id="{{__DIM_ID__}}{{__COM_ID__}}{{__IND_ID__}}q1" name="q1"
                   data-dim="{{__DIM_ID__}}" data-com="{{__COM_ID__}}" data-ind="{{__IND_ID__}}" value="1" hidden>
    </td>
    <td class="center">
        -
       <input type="text" placeholder="qr" autocomplete="off"  id="{{__DIM_ID__}}{{__COM_ID__}}{{__IND_ID__}}qr" name="qr"
                   data-dim="{{__DIM_ID__}}" data-com="{{__COM_ID__}}" data-ind="{{__IND_ID__}}" value="1" hidden>
    </td>
    <td class="center">
        -
        <input type="text" placeholder="Tr" autocomplete="off"  id="{{__DIM_ID__}}{{__COM_ID__}}{{__IND_ID__}}tr" name="tr"
                   data-dim="{{__DIM_ID__}}" data-com="{{__COM_ID__}}" data-ind="{{__IND_ID__}}" value="1" hidden>
    </td>
</tr>